In [1]:
import pandas as pd

In [6]:
sf = pd.read_excel('./login/종류별인기태그 카운트.xlsx')

In [398]:
result1.to_excel('./login/업소별분석.xlsx',index=False, encoding='utf-8-sig')

c:\python38\lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

In [89]:
a = df.groupby('종류')['평점'].agg(['mean']) #평점평균
a = a.rename(columns = {'mean':'평균평점'})
b = df.groupby('종류')['숙박가격'].agg(['mean']) #가격평균
b = b.rename(columns = {'mean':'평균가격'})
c = tt['cnt(종류)'] #종류별 카운트 tt=df.groupby('종류').count()
result1 = pd.concat([a,b,c],axis=1)
result1

In [396]:
result1

            평균평점           평균가격  cnt(종류)
종류
1성급     4.200000   81830.625000       16
2성급     4.260000  107795.666667       30
3성급     4.502083  165394.583333       48
4성급     4.634286  209979.142857       35
5성급     4.757576  452173.333333       33
게스트하우스  4.360000   59800.400000        5
레지던스    4.277778  121457.500000       18
모텔      4.402273   75102.136364      836
일반호텔    4.247590  131977.511628      172
전통호텔    4.500000  270000.000000        1
펜션/호스텔  3.807143  103214.285714       14
프리미엄호텔  4.561538  248665.384615       13

In [289]:
dff

                                                  인기테그      종류
0    ['주차가능', '야외수영장', '수영장', '와이파이', '사우나', '클럽라운지...  프리미엄호텔
29   ['주차가능', '야외수영장', '수영장', '조식운영', '와이파이', '사우나'...  프리미엄호텔
58   ['주차가능', '조식운영', '와이파이', '야외테라스', '사우나', '객실금연...  프리미엄호텔
67   ['주차가능', '조식운영', '객실금연', '레스토랑', '바', '연회장', '...  프리미엄호텔
92   ['조식운영', '와이파이', '객실금연', '레스토랑', '피트니스', '어메니티...  프리미엄호텔
125  ['조식운영', '와이파이', '객실금연', '레스토랑', '연회장', '피트니스'...  프리미엄호텔
127  ['주차가능', '조식운영', '와이파이', '객실금연', '레스토랑', '바', ...  프리미엄호텔
136  ['주차가능', '조식운영', '와이파이', '객실금연', '레스토랑', '바', ...  프리미엄호텔
139  ['주차가능', '조식운영', '와이파이', '객실금연', '피트니스', '어메니티...  프리미엄호텔
171  ['주차가능', '와이파이', '객실금연', '레스토랑', '피트니스', '24시간...  프리미엄호텔
286                                                 []  프리미엄호텔
293  ['주차가능', '조식운영', '와이파이', '사우나', '루프탑', '객실금연',...  프리미엄호텔
324  ['주차가능', '조식운영', '와이파이', '객실금연', '레스토랑', '바', ...  프리미엄호텔

In [402]:
import ast
cc['인기태그'] = cc['인기태그'].apply(lambda x : ast.literal_eval(x))

In [405]:
qwe = cc.explode('인기태그')

In [335]:
tag = cc.explode('인기태그').value_counts()

In [342]:
tag = pd.DataFrame(tag)
tag.columns
tag.to_csv('./login/종류별인기태그 카운트.csv',encoding='utf-8-sig')

RangeIndex(start=0, stop=1, step=1)

In [447]:
ll.to_excel('./login/업소별분석.xlsx',encoding='utf-8-sig')

c:\python38\lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

In [407]:
tt = pd.read_excel('./login/종류별인기태그 카운트.xlsx')

In [434]:
tt['종류']

TypeError: 'tuple' object is not callable

In [438]:
df_motel = tt[(tt['종류']=='모텔')]
df_hotelno = tt[(tt['종류']=='일반호텔')]
df_hotelpri = tt[(tt['종류']=='프리미엄호텔')]
df_hotel1 = tt[(tt['종류']=='1성급')]
df_hotel2 = tt[(tt['종류']=='2성급')]
df_hotel3 = tt[(tt['종류']=='3성급')]
df_hotel4 = tt[(tt['종류']=='4성급')]
df_hotel5 = tt[(tt['종류']=='5성급')]
df_hostel = tt[(tt['종류']=='펜션/호스텔')]
df_guest = tt[(tt['종류']=='게스트하우스')]
df_regi = tt[(tt['종류']=='레지던스')]

In [440]:
df_motel.to_excel('./login/모텔인기태그.xlsx',encoding='utf-8-sig')
df_hotelno.to_excel('./login/일반호텔인기태그.xlsx',encoding='utf-8-sig')
df_hotelpri.to_excel('./login/프리미엄호텔인기태그.xlsx',encoding='utf-8-sig')
df_hotel1.to_excel('./login/1성급인기태그.xlsx',encoding='utf-8-sig')
df_hotel2.to_excel('./login/2성급인기태그.xlsx',encoding='utf-8-sig')
df_hotel3.to_excel('./login/3성급인기태그.xlsx',encoding='utf-8-sig')
df_hotel4.to_excel('./login/4성급인기태그.xlsx',encoding='utf-8-sig')
df_hotel5.to_excel('./login/5성급인기태그.xlsx',encoding='utf-8-sig')
df_hostel.to_excel('./login/호스텔인기태그.xlsx',encoding='utf-8-sig')
df_guest.to_excel('./login/게스트인기태그.xlsx',encoding='utf-8-sig')
df_regi.to_excel('./login/레지던스인기태그.xlsx',encoding='utf-8-sig')

c:\python38\lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

In [400]:
aa = pd.DataFrame(df['인기태그'])
bb = pd.DataFrame(df['종류'])
cc = pd.concat([aa,bb],axis=1)

In [139]:
j.replace('[','').replace(']','')

''

In [224]:
tr = cc.explode('인기태그').reset_index(drop=True)
tr

      index                                               인기테그      종류
0         0  ['주차가능', '야외수영장', '수영장', '와이파이', '사우나', '클럽라운지...  프리미엄호텔
1         1  ['주차가능', '조식운영', '와이파이', '객실금연', '레스토랑', '바', ...     4성급
2         2   ['주차가능', '와이파이', '객실금연', '피트니스', '어메니티', '비즈니스']     4성급
3         3  ['스파/월풀/욕조', '와이파이', '객실금연', '24시간데스크', '비즈니스'...    일반호텔
4         4  ['주차가능', '조식운영', '와이파이', '객실금연', '레스토랑', '연회장'...    일반호텔
...     ...                                                ...     ...
1216   1216                                           ['와이파이']  게스트하우스
1217   1217                                           ['와이파이']  게스트하우스
1218   1218                                   ['와이파이', '독채객실']  펜션/호스텔
1219   1219                                    ['와이파이', '상비약']  펜션/호스텔
1220   1220                                    ['와이파이', '상비약']  펜션/호스텔

[1221 rows x 3 columns]

In [240]:
cc = cc.reset_index(drop=True)
cc.drop(columns='index', axis=1, inplace=True)
cc

                                                   인기테그      종류
0     ['주차가능', '야외수영장', '수영장', '와이파이', '사우나', '클럽라운지...  프리미엄호텔
1     ['주차가능', '조식운영', '와이파이', '객실금연', '레스토랑', '바', ...     4성급
2      ['주차가능', '와이파이', '객실금연', '피트니스', '어메니티', '비즈니스']     4성급
3     ['스파/월풀/욕조', '와이파이', '객실금연', '24시간데스크', '비즈니스'...    일반호텔
4     ['주차가능', '조식운영', '와이파이', '객실금연', '레스토랑', '연회장'...    일반호텔
...                                                 ...     ...
1216                                           ['와이파이']  게스트하우스
1217                                           ['와이파이']  게스트하우스
1218                                   ['와이파이', '독채객실']  펜션/호스텔
1219                                    ['와이파이', '상비약']  펜션/호스텔
1220                                    ['와이파이', '상비약']  펜션/호스텔

[1221 rows x 2 columns]

In [272]:
cc.loc[0,'인기테그'].split(',')

["['주차가능'",
 " '야외수영장'",
 " '수영장'",
 " '와이파이'",
 " '사우나'",
 " '클럽라운지'",
 " '객실금연'",
 " '레스토랑'",
 " '바'",
 " '연회장'",
 " '피트니스'",
 " '어메니티'",
 " '24시간데스크'",
 " '노트북대여'",
 " '유료세탁'",
 " '커피숍'",
 " '수화물보관']"]

In [276]:
dff

                                                  인기테그      종류
0    ['주차가능', '야외수영장', '수영장', '와이파이', '사우나', '클럽라운지...  프리미엄호텔
29   ['주차가능', '야외수영장', '수영장', '조식운영', '와이파이', '사우나'...  프리미엄호텔
58   ['주차가능', '조식운영', '와이파이', '야외테라스', '사우나', '객실금연...  프리미엄호텔
67   ['주차가능', '조식운영', '객실금연', '레스토랑', '바', '연회장', '...  프리미엄호텔
92   ['조식운영', '와이파이', '객실금연', '레스토랑', '피트니스', '어메니티...  프리미엄호텔
125  ['조식운영', '와이파이', '객실금연', '레스토랑', '연회장', '피트니스'...  프리미엄호텔
127  ['주차가능', '조식운영', '와이파이', '객실금연', '레스토랑', '바', ...  프리미엄호텔
136  ['주차가능', '조식운영', '와이파이', '객실금연', '레스토랑', '바', ...  프리미엄호텔
139  ['주차가능', '조식운영', '와이파이', '객실금연', '피트니스', '어메니티...  프리미엄호텔
171  ['주차가능', '와이파이', '객실금연', '레스토랑', '피트니스', '24시간...  프리미엄호텔
286                                                 []  프리미엄호텔
293  ['주차가능', '조식운영', '와이파이', '사우나', '루프탑', '객실금연',...  프리미엄호텔
324  ['주차가능', '조식운영', '와이파이', '객실금연', '레스토랑', '바', ...  프리미엄호텔

In [287]:
for i in dff:
    i.loc[0,'인기테그'].replace('[','').replace(']','').replace("'",'').strip().split(', ')

AttributeError: 'str' object has no attribute 'loc'

In [284]:
lis = [1,2,3]
lis2 = [3,4,5]
lis_tot = lis +lis2
lis_tot

[1, 2, 3, 3, 4, 5]

In [266]:
lis

"['주차가능', '야외수영장', '수영장', '와이파이', '사우나', '클럽라운지', '객실금연', '레스토랑', '바', '연회장', '피트니스', '어메니티', '24시간데스크', '노트북대여', '유료세탁', '커피숍', '수화물보관']"

In [273]:
dff = cc[(cc['종류']=='프리미엄호텔')]

In [241]:
# 230516 추가 시작
cc.explode(column='인기테그')

                                                   인기테그      종류
0     ['주차가능', '야외수영장', '수영장', '와이파이', '사우나', '클럽라운지...  프리미엄호텔
1     ['주차가능', '조식운영', '와이파이', '객실금연', '레스토랑', '바', ...     4성급
2      ['주차가능', '와이파이', '객실금연', '피트니스', '어메니티', '비즈니스']     4성급
3     ['스파/월풀/욕조', '와이파이', '객실금연', '24시간데스크', '비즈니스'...    일반호텔
4     ['주차가능', '조식운영', '와이파이', '객실금연', '레스토랑', '연회장'...    일반호텔
...                                                 ...     ...
1216                                           ['와이파이']  게스트하우스
1217                                           ['와이파이']  게스트하우스
1218                                   ['와이파이', '독채객실']  펜션/호스텔
1219                                    ['와이파이', '상비약']  펜션/호스텔
1220                                    ['와이파이', '상비약']  펜션/호스텔

[1221 rows x 2 columns]

In [ ]:
# 230516 추가 끝

In [445]:
ll = result1

In [446]:
ll.reset_index()

        종류      평균평점           평균가격  cnt(종류)
0      1성급  4.200000   81830.625000       16
1      2성급  4.260000  107795.666667       30
2      3성급  4.502083  165394.583333       48
3      4성급  4.634286  209979.142857       35
4      5성급  4.757576  452173.333333       33
5   게스트하우스  4.360000   59800.400000        5
6     레지던스  4.277778  121457.500000       18
7       모텔  4.402273   75102.136364      836
8     일반호텔  4.247590  131977.511628      172
9     전통호텔  4.500000  270000.000000        1
10  펜션/호스텔  3.807143  103214.285714       14
11  프리미엄호텔  4.561538  248665.384615       13